@media screen and (min-width: 1025px) and (max-width: 1366px) {

	body{
	margin:0;
	
}

#backCover{
	background-color: #eeedef;
	width: 100%;
	height: 200px;
	
}

#box{
	background-color: #d8d8d8;
	width: 250px;
	height: 350px;
	margin-top: -68px;
	margin-left: 150px;
	padding: 30px;
	position: relative;
}

#heading{
	background-color: #fff;
	color: #0165a7;
	border-bottom: 15px solid;
	width: 260px;
	height: 60px;
	padding: 10px;
	position: absolute;
	left: 320px;
	top: 170px;

}

.content{
	color: #3d3d3d;
	width: 105px;
	position:absolute;
	left: 500px;
	top: 310px;
}

.box1{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	top: 30px;
	position:relative;
	
}

.vl{
	border-left: 1px dotted #eeedef;
    height: 210px;
    position: absolute;
    left: 620px;
    top: 330px;
    }

.content1{
	color: #3d3d3d;
	width: 105px;
	position:absolute;
	left: 650px;
	top: 310px;
}

p{
	font-weight: 700;
	font-size: 16px;
}

.box2{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	top: 30px;
	position:relative;
	
}

.vl1{
	border-left: 1px dotted #eeedef;
    height: 210px;
    position: absolute;
    left: 770px;
    top: 330px;
    }


.content2{
	color: #3d3d3d;
	width: 105px;
	position:absolute;
	left: 800px;
	top: 310px;
}

.box3{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	top: 30px;
	position:relative;
	
}

.circle{
	display: none;
}

.number{
	display: none;
}

.line1{
	display: none;
}

.line2{
	display: none;
}

.wrapper{
	display: none;
}

#myBtn{
	display: none;
}

#myModal{
	display: none;
}

.modal{
	display: none;
}

.modal-content{
	display: none;
}

.close{
	display: none;
}

}

@media screen and (min-width: 768px)  and (max-width: 1024px) {

body{
	margin:0;
	overflow: hidden;
	
}

#backCover{
	background-color: #eeedef;
	width: 100%;
	height: 250px;
	
}

#box{
	background-color: #d8d8d8;
	width: 260px;
	height: 350px;
	margin-top: -200px;
	left: 60px;
	padding: 30px;
	position: relative;
}

.circle{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 22px;
	height: 22px;
	margin: 80px;
	border-radius: 50%;
	border-width: 2px;

}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;
}

#heading{
	background-color: #fff;
	color: #0165a7;
	border-bottom: 15px solid;
	width: 280px;
	height: 55px;
	padding: 0 10px 10px 10px;
	position: absolute;
	left: 60px;
	top: 420px;

}

p{
	color: #404040;
	font-size: 18px;
	font-weight: 700;
}

#backbox{
	width: 380px;
	height: 410px; 
	background-color: #fff;
    right: 0;
    left: 380px;
	top: 50px;
	position:absolute;
}

.content{
	color: #3d3d3d;
	width: 200px;
	position:relative;
	left: 30px;
	
}

.box1{
	background-color:#d8d8d8 ;
	width: 100px;
	height: 80px;
	left: 220px;
	top: 2px;
	position:absolute;
	
}

.line1{
	border-bottom: 1px dotted #eeedef;
    width: 320px;
    position: relative;
    left: 30px;
    
}

.content1{
	color: #3d3d3d;
	width: 200px;
	position:relative;
	left: 30px;
	top: 10px;

}

.box2{
	background-color:#d8d8d8 ;
	width: 100px;
	height: 80px;
	left: 220px;
	top: 2px ;
	position:absolute;
	
}

.circle1{
	border: 1px solid #f1f1f1;
	background-color: #99cc00;
	width: 22px;
	height: 22px;
	top: 140px;
	left: 170px;
	position: relative;
	border-radius: 50%;
	border-width: 3px;
	
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

.line2{
	border-bottom: 1px dotted #eeedef;
    width: 320px;
    position: relative;
    left: 40px;
    top: 40px;
    
}

.content2{
	color: #3d3d3d;
	width: 200px;
	position:relative;
	left: 30px;
	top: 55px;
}

.box3{
	background-color:#d8d8d8 ;
	width: 100px;
	height: 80px;
	left: 220px;
	top: 2px ;
	position:absolute;
}

#myBtn{
	margin-left: 500px;
	margin-top: 50px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 

}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    margin: auto;
    left: 55px;
    width: 685px;
    height: 75%;
}

.modal-header {
    padding: 2px 16px;
    background-color: #0165a7;
    color: white;
}

.para1{
	margin-top: 30px;
    color: #787878;
}

.para2{
	margin-top: 30px;
	color: #383838;
	float: right;
}

.modal-body {
	padding: 2px 16px;
	line-height: justify;
}


.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

}

@media screen and (min-width: 481px)  and (max-width: 767px) {

	body{
	margin:0;
	overflow: hidden;
	
}

#backCover{
	background-color: #eaeaea;
	width: 100%;
	height: 180px;
	
}

#heading{
	background-color: #fff;
	color: #0165a7;
	border-bottom: 6px solid;
	width: 100%;
	height: 55px;
	padding: 1px 10px 10px 10px;
	position: absolute;
	left: 200px;
	top: 80px;

}

p{
	font-size: 17px;
	font-weight: 700;
}

.circle1{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 22px;
	height: 22px;
	top: 135px;
	left:250px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

.content{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 100px;
	top: -10px;
	
}

.box1{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px;
	position:absolute;
	
}

.line1{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 80px;
    top: 310px;
    
}

.content1{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 100px;
	top: 40px;
}

.box2{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px ;
	position:absolute;
	
}

.line2{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 80px;
    top: 430px;
    
}

.content2{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 100px;
    top: 85px;

}

.box3{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px ;
	position:absolute;
	
}

.line3{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 80px;
    top: 550px;
    
}

#myBtn{
	margin-left: 200px;
	margin-top: 115px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 70px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    margin: auto;
    left: 120px;
    width: 300px;
    height: 82%;
}

.modal-header {
    padding: 20px 20px 5px 20px;
    background-color: #0165a7;
    color: white;
}

.para1{
	line-height: 1.2;
	margin-top: 30px;
    color: #787878;
}

.para2{
	margin-top: 30px;
	color: #383838;
	float: right;
}

.modal-body {
	padding: 2px 16px;
	line-height: justify;
}


.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.circle2{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 23px;
	height: 23px;
	top: 60px;
	right:172px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

}

@media screen and (min-width: 321px)  and (max-width: 480px) {

	body{
	margin:0;
	overflow: hidden;
	
}

#backCover{
	background-color: #eaeaea;
	width: 100%;
	height: 180px;
	
}

#heading{
	background-color: #fff;
	color: #0165a7;
	border-bottom: 6px solid;
	width: 280px;
	height: 60px;
	padding: 5px;
	position: absolute;
	left:190px;
	top: 75px;

}

p{
	font-size: 16px;
	font-weight: 700;
}

.circle1{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 22px;
	height: 22px;
	left: 250px;
	top: 10px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

.content{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 50px;
	top: -10px;
	
}

.box1{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px;
	position:absolute;
	
}

.line1{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 40px;
    top: 300px;
    
}

.content1{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 50px;
	top: 40px;
}

.box2{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px ;
	position:absolute;
	
}

.line2{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 40px;
    top: 420px;
    
}

.content2{
	color: #3d3d3d;
	width: 220px;
	position:relative;
	left: 50px;
    top: 85px;

}

.box3{
	background-color:#ccc ;
	color: #1E90FF;
	width: 100px;
	height: 80px;
	left: 240px;
	top: -2px ;
	position:absolute;
	
}

.line3{
	border-bottom: 1px dotted #ccc;
    width: 350px;
    position: absolute;
    left: 40px;
    top: 540px;
    
}

#myBtn{
	margin-left: 150px;
	margin-top: 140px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 90px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    margin: auto;
    left: 80px;
    width: 300px;
    height: 75%;
}

.modal-header {
    padding: 10px 16px;
    background-color: #0165a7;
    color: white;
}

h3{
	font-size: 16px;
}

.para1{
	margin-top: 30px;
    color: #787878;
}

.para2{
	margin-top: 30px;
	color: #383838;
	float: right;
}

.modal-body {
	padding: 2px 16px;
	line-height: justify;
}

.close {
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.circle1{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 22px;
	height: 22px;
	top: 135px;
	right:240px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

}

@media screen and (max-width: 320px) {

    body{
	margin:0;
	overflow: hidden;
	
}

#backCover{
	background-color: #eaeaea;
	width: 100%;
	height: 180px;
	
}

#heading{
	background-color: #fff;
	color: #0165a7;
	border-bottom: 6px solid;
	width: 255px;
	height: 52px;
	padding: 5px;
	position: absolute;
	left:50px;
	top: 88px;

}

p{
	font-size: 14px;
	font-weight: 700;
}

.circle1{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 20px;
	height: 20px;
	left: 85px;
	top: 140px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

.content{
	color: #3d3d3d;
	width: 150px;
	position:relative;
	left: 40px;
	top: 10px;
	
}

.box1{
	background-color:#ccc ;
	color: #1E90FF;
	width: 70px;
	height: 60px;
	left: 160px;
	top: -2px;
	position:absolute;
	
}

.line1{
	border-bottom: 1px dotted #ccc;
    width: 220px;
    position: absolute;
    left: 40px;
    top: 295px;
    
}

.content1{
	color: #3d3d3d;
	width: 140px;
	position:relative;
	left: 40px;
	top: 40px;
}

.box2{
	background-color:#ccc ;
	color: #1E90FF;
	width: 70px;
	height: 60px;
	left: 160px;
	top: -2px ;
	position:absolute;
	
}

.line2{
	border-bottom: 1px dotted #ccc;
    width: 220px;
    position: absolute;
    left: 40px;
    top: 390px;
    
}

.content2{
	color: #3d3d3d;
	width: 150px;
	position:relative;
	left: 40px;
    top: 70px;

}

.box3{
	background-color:#ccc ;
	color: #1E90FF;
	width: 70px;
	height: 60px;
	left: 160px;
	top: -2px ;
	position:absolute;
	
}

.line3{
	border-bottom: 1px dotted #ccc;
    width: 220px;
    position: absolute;
    left: 40px;
    top: 480px;
    
}

#myBtn{
	margin-left: 80px;
	margin-top: 100px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    position: fixed;
    margin: auto;
    left: 30px;
    width: 220px;
    height: 70%;
}

.modal-header {
    padding: 10px 16px;
    background-color: #0165a7;
    color: white;
}

h3{
	font-size: 14px;
}

.para1{
	margin-top: 30px;
    color: #787878;
}

.para2{
	margin-top: 30px;
	color: #383838;
	float: right;
}

.modal-body {
	padding: 2px 16px;
	line-height: justify;
}

.close {
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.circle2{
	border: 1px solid #fff;
	background-color: #F5D04C;
	width: 20px;
	height: 20px;
	top: 40px;
	right:120px;
	border-radius: 50%;
	border-width: 2px;
    position: absolute;
}

.number{
	color: #fff;
	font-size: 12px;
	margin: 8px;

}

}